@charset 'UTF-8';

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.contents{
    width: 700px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    padding: 2rem 1rem;
    gap: 5px;
}

.btn-box{
    text-align: center;
    margin-top: 10px;
}

.btn{
    width: 90px;
    height: 36px;
    margin-right: 5px;
}