.btn-group{
    width: 320px;
    height: 40px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-group button{
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
}

.create-lotto,
.user-lotto{
    flex: 2;
    background-color: rgb(92, 92, 217);
}

.create-lotto:hover,
.user-lotto:hover{
    cursor: pointer;
    background-color: rgb(47, 47, 197);
}

.compare-lotto{
    flex: 1;
    background-color: rgb(65, 179, 65);
}

.compare-lotto:hover{
    cursor: pointer;
    background-color: rgb(40, 212, 40);
}